<div class=container>
  <h1>ダイレクトメッセージ</h1>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#jyushin">受信（<%= @inbox_users.count %>件）</a></li>
      <li><a data-toggle="tab" href="#soushin">送信（<%= @outbox_users.count %>件）</a></li>
    </ul>
    
    <div class="tab-content">
 
    <div id="jyushin" class="tab-pane fade in active">
      <table class="table table-bordere">

        <tbody>
          <% @inbox_users.each.with_index do | inbox_user, i | %>
            <% user = User.find(inbox_user.sender_id) %>
            <% latest_message = @inbox
                                  .where(sender_id: user.id)
                                  .first %>
            <tr>
              <td>
                <% if user.user_type == 3 || user.user_type == 4 %>
                  <% user_path = supporter_path(user.id) %>
                <% elsif user.user_type == 1 || user.user_type == 2 %>
                  <% user_path = student_path(user.id) %>
                <% else %>
                  <% user_path = root_path %>
                <% end %>
                <%= link_to user_path do %>
                  <% if user.avatar.present? %>
                    <%= image_tag(user.avatar(:thumb)) %>
                  <% else %>
                    <%= image_tag('top/clue.png', class: "no-image", width: 100, height: 100) %>
                  <% end %>
                <% end %>
                <p><%= distance_of_time_in_words_to_now(latest_message.updated_at) %> 前</p>
              </td>
              <td>
                <p>
                  <% if user.user_type != 0 %>
                    <%# CSS で全般的に <a> はブロック要素になっているので %>
                    <%= link_to user.username, user_path, style: "display: inline;" %> との最新メッセージ
                  <% else %>
                    管理者 との最新メッセージ
                  <% end %>
                </p>
                <% if latest_message.message.present? %>
                  <%= latest_message.message %>
                <% end %>
              </td>
              <td>
                <%= link_to "メッセージを見る", new_message_path(receiver_id: user.id) %>
                <% if latest_message.opened.blank? %>
                  &nbsp;(<span class="unread_message">未読あり</span>)
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- //end of jyushin -->

    <div id="soushin" class="tab-pane fade">
      <table class="table table-bordere">
        <tbody>
          <% @outbox_users.each.with_index do | outbox_user, i | %>
            <% user = User.find(outbox_user.receiver_id) %>
            <% latest_message = @outbox.where(receiver_id: user.id)
                                  .first %>
            <tr>
              <td>
                <% if user.user_type == 3 || user.user_type == 4
                  user_path = supporter_path(user.id)
                elsif user.user_type == 1 || user.user_type == 2
                  user_path = student_path(user.id)
                else
                  #通常ありえないのでルートに飛ばす
                  user_path = root_path
                end %>
                <%= link_to user_path do %>
                  <% if user.avatar.present? %>
                    <%= image_tag(user.avatar(:thumb)) %>
                  <% else %>
                    <%= image_tag('top/clue.png', class: "no-image", width: 100, height: 100) %>
                  <% end %>
                <% end %>
                <p><%= distance_of_time_in_words_to_now(latest_message.updated_at) %> 前</p>
              </td>
              <td>
                <p>
                  <% if user.user_type != 0 %>
                    <%# CSS で全般的に <a> はブロック要素になっているので %>
                    <%= link_to user.username, user_path, style: "display: inline;" %>との最新メッセージ
                  <% else %>
                    管理者 との最新メッセージ
                  <% end %>
                </p>
                <% if latest_message.message.present? %>
                  <%= latest_message.message %>
                <% end %>
              </td>
              <td>
                <%= link_to "メッセージを見る", new_message_path(receiver_id: user.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- //end of soushin -->
  </div><!-- //end of .tab-content -->
</div><!-- //end of containern -->

